{% extends 'base.html.twig' %}

{% block title %}Edit UserDetails{% endblock %}

{% block body %}
    {% include('base.html.twig') %}

    <div class="container" style="margin-top: 5%">
        <div style="max-width: 600px">
            <h1>Edit UserDetails</h1>

            {{ include('user_details/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('user_details/_delete_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('user_details_show', {id: user_detail.id}) }}">back to list</a>

        </div>

    </div>

{% endblock %}
