{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% include('base.html.twig') %}

    <div class="container" style="margin-top: 5%">
        <h1>Edit {{ app.user.username }}'s Information</h1>

        <div style="max-width: 600px;">
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('user/_delete_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('user_show', {id: user.id}) }}">Back</a>
        </div>


    </div>

{% endblock %}
