{% extends 'base.html.twig' %}

{% block title %}New Examination{% endblock %}

{% block body %}
    {% include('base.html.twig') %}

    <h1>Create new Examination</h1>

    {{ include('examination/_form.html.twig') }}

    <a href="{{ path('examination_index') }}">back to list</a>
{% endblock %}
