{% extends 'base.html.twig' %}

{% block title %}Edit UserAnimal{% endblock %}

{% block body %}
    {% include('base.html.twig') %}

    <h1>Edit UserAnimal</h1>

    {{ include('user_animal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_animal_index') }}">back to list</a>

    {{ include('user_animal/_delete_form.html.twig') }}
{% endblock %}
