{% extends 'base.html.twig' %}

{% block title %}UserAnimal index{% endblock %}

{% block body %}
    <h1>UserAnimal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_animal in user_animals %}
            <tr>
                <td>{{ user_animal.id }}</td>
                <td>
                    <a href="{{ path('user_animal_show', {'id': user_animal.id}) }}">show</a>
                    <a href="{{ path('user_animal_edit', {'id': user_animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_animal_new') }}">Create new</a>
{% endblock %}
