{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% include('base.html.twig') %}


    <h1>Welcome back, {{ app.user.username }}</h1>

    <a href="{{ path('user_show', {id: app.user.id}) }}" id="manageUsers" class="btn btn-primary">Manage your
        personal information
    </a>

    <a href="{{ path('all_animals_per_user',{User:app.user.id}) }}" class="btn btn-primary">Go To Animals</a>

{% endblock %}

