{% extends 'base.html.twig' %}

{% block title %}New HealthCard{% endblock %}

{% block body %}
    <h1>Create new HealthCard</h1>

    {{ include('health_card/_form.html.twig') }}

    <a href="{{ path('health_card_index') }}">back to list</a>
{% endblock %}
