{% extends 'base.html.twig' %}
{% block title %}User index{% endblock %}

{% block body %}
<h1>Carnet de sanatate online</h1>
<h2>Doriti sa va autentificati?</h2>
<a href="/login" class="btn btn-primary">Catre pagina de autentificare</a>
{% endblock %}
